{% extends "base.html" %} {% block title%}Todolist{% endblock %}
{% block todolistactive %}active{% endblock %}
{% block content%}
{% load widget_tweaks %}

<div class="container text-center">
    <div class="row-md-6 mt-5">
        <h3><label class=" txtcolor ">Update Todo</label></h3>
    </div>
</div>

<div class="tab mt-4 my-2">
    <a class="button-33 mb-4" href="{% url 'todolist' %}">Add Task</a>
    <a class="button-33 mb-4" href="{% url 'viewtask' %}">View Task</a>
</div>

<form method="post">
    {% csrf_token %}
    <div class="container my-3 col-5 px-5">
        <div class="row-md-6">
            <label class="form-label txtcolor">Task Title</label>
            {% render_field form.tasktitle class="form-control" type="text" %}
        </div>
    </div>
    <div class="container col-5 px-5">
        <div class="row-md-6">
            <label class="form-label txtcolor">Task Description</label>
            {% render_field form.taskDesc class="form-control" type="text" %}
        </div>
    </div>
    <div class="container col-5 px-5">
        <div class="form-check my-4">
            {% render_field form.checked class="form-check-input" type="checkbox" %}
            <label class="form-check-label txtcolor">
                Checked
            </label>
        </div>
        <div class="text-center my-4">
            <button type="submit" class="button-33">Update Task</button>
        </div>
    </div>
</form>

{% endblock %}